---
layout: default
title: Algorithms Book
permalink: /algorithms-book/
---

{% include header.html %}

<div class="container">

    <ul class="book-options">
        <li>
            <h2>Buy the physical book on Amazon</h2>
            <ul class="amazon-links">
                <li><a href="https://www.amazon.com/dp/B0BRJPFT54" target="_blank">🇺🇸 US Amazon</a></li>
                <li><a href="https://www.amazon.es/dp/B0BRJPFT54" target="_blank">🇪🇸 ES Amazon</a></li>
                <li><a href="https://www.amazon.de/dp/B0BRJPFT54" target="_blank">🇩🇪 DE Amazon</a></li>
                <li><a href="https://www.amazon.co.uk/dp/B0BRJPFT54" target="_blank">🇬🇧 UK Amazon</a></li>
                <li><a href="https://www.amazon.fr/dp/B0BRJPFT54" target="_blank">🇫🇷 FR Amazon</a></li>
                <li><a href="https://www.amazon.it/dp/B0BRJPFT54" target="_blank">🇮🇹 IT Amazon</a></li>
                <li><a href="https://www.amazon.co.jp/dp/B0BRJPFT54" target="_blank">🇯🇵 JP Amazon</a></li>
                <li><a href="https://www.amazon.ca/dp/B0BRJPFT54" target="_blank">🇨🇦 CA Amazon</a></li>
            </ul>
        </li>
        <li>
            <h2>Download the PDF (for free)</h2>
            <p><a href="{{ site.url }}/assets/algorithms-book.pdf" target="_blank">Download PDF</a></p>
        </li>
    </ul>
</div>

{% include footer.html %}