---
layout: page
title: Projects
---
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->


<section class="list">
<ul>
		<li><a href="https://github.com/RPallas92/PromisedArchitectureKit">Promised Architecture Kit V2</a></li>
    <li><a href="https://github.com/RPallas92/Swiftz-Validation">Swiftz Validation</a></li>
    <li><a href="https://github.com/RPallas92/ArchitectureKit">ArchitectureKit</a></li>
	<li><a href="https://github.com/RPallas92/FunctionalSwiftArchitecture">Functional Swift Architecture</a></li>
	<li><a href="https://github.com/RPallas92/JS-access-property">JS Safe access properties</a></li>
	<li><a href="https://github.com/RPallas92/Graus_iOS">Graus iOS</a></li>
	<li><a href="https://github.com/RPallas92/Functional-MENStack">Functional-MENStack</a></li>
	<li><a href="https://github.com/RPallas92/curryJS">CurryJS</a></li>
	<li><a href="https://github.com/RPallas92/congreso-web-2016/tree/master/app_videos/app_finished">Functional Youtube React searcher</a></li>

</ul>
</section>
